h1 {
	color: navy;
	margin-left: 1cm;
}

/* this is a css comment */

h2 {
	color: #fab642;
	background-color: green;
	margin-left: 20px;
}

h3 {
	color: orange;
	margin-left: 10mm;
}

ul {
	color: hsl(137, 100%, 50%);
	margin-left: 2em;
}

ol {
	margin-left: 2lh;
}

details {
	margin-left: 3ex;
}

.box {
	border: 1px solid black;
}
