@font-face {
    font-family: 'bruno_ace_scregular';
    src: url('brunoacesc-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
	color: navy;
	margin-left: 1cm;
	position: relative;
}

/* this is a css comment */

h2 {
	font-family: "bruno_ace_scregular";
	color: #fab642;
	background-color: green;
	margin-left: 20px;
	position: static;
}

h3 {
	color: orange;
	margin-left: 10mm;
	text-decoration: green wavy underline;
	text-align: center;
}

ul {
	font-family: "bruno_ace_scregular";
	color: hsl(137, 100%, 50%);
	margin-left: 2em;
}

ol {
	margin-left: 2lh;
}

details {
	margin-left: 3ex;
}

button:hover {
	color: fuchsia;
}

details:active {
	background-color: rgba(120, 182, 255, 0.66);
}

.box1 {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	margin: 10px 5px 10px 5px;
	padding-top: 0;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 4em;
	display: flex;
	height: 150px;
	width: 200px;
}

.box2 {
	border: 1px solid blue;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 10px
	margin-left: 5px;
	padding: 0px 30px 40px 4em;
	display: inline;
	max-width: 200px;
	min-width: 100px;
}

.box3 {
	border: 1px dotted red;
	margin: auto;
}

